@import url(../styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Inter:wght@700&display=swap');

body{
    background-color: #051027;
    width: 1900px;
}

.cabecalho-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 25px;    
    font-family: 'Inter' sans-serif;
}
.cabecalho-buscar::placeholder {
    color:rgba(255, 255, 255, 80%);
}
.cabecalho-logo{
    padding-right: 8px;
}
.cabecalho-menu-item{
    text-decoration: none;
    color: #f8f7f7;    
    padding: 8px;
    margin-bottom: 40px;
    font-family: 'Inter' sans-serif;
}
.cabecalho-buscar{
    color: #f8f7f7;     
    background-color: rgba(255, 255, 255, 30%);
    padding-left: 6px;
    border-radius: 6px;
    border-color: rgba(255, 255, 255, 30%);
    width: 200px;
    height: 25px;
}

.cabecalho-buscar ::-webkit-input-placeholder{
    color: #f8f7f7; 
}

.cabecalho-logar{
    color: #f8f7f7;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0%);
    margin-left: 10px;
}
.cabecalho-inscrever{    
    color: #f8f7f7;
    border: 0.7px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 5%);
    margin-left: 10px;
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.conteudo-principal {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.conteudo-principal-escrito {
    color: #f8f7f7;
    width: 470px;
    word-wrap: normal;
    font-family: 'Inter', sans-serif;
}
.conteudo-principal-escrito-titulo {
    font-size: 47px;
}
.conteudo-principal-escrito-subtitulo {
    width: 392px;
    color: #bdbdbd;
    font-size: 17px;
    line-height: 1.2;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Actor', sans-serif;
}
.conteudo-principal-inscrever {
    width: 106px;
    height: 36px;
    background: #2ea44f;
    border-radius: 5px;
    color: #bdbdbd;
    font-size: 10px;
    text-align: center;
}
.conteudo-principal-email-caixa {
    font-size: 13px;
    width: 215px;
    background-color: #ffff;
    border-radius: 5px;
    padding: 5px;    
}
.conteudo-principal-email-caixa ::-webkit-input-placeholder{
    color: #656565;
}
.conteudo-principal-inscrever{
    color: #f8f7f7;
}
.conteudo-secundario {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.conteudo-secundario-dados {
    display: flex;
    color: #f8f7f7;
    flex-direction: row;
    justify-content: space-between;
    gap: 55px;
    padding-top: 25px;
    border-top: 1px solid #bdbdbd
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Anaheim', sans-serif;
    gap: 4px;
}
.conteudo-secundario-dados-item {
    font-size: 15px;
}
.conteudo-secundario-dados-item-cat {
    font-size: 10px;
}
.rodape {
    background-color: white;
}









